<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Clientes</title>
    <link rel="stylesheet" href="../style.css">
  <link rel="shortcut icon" href="./img/form.png" type="image/x-icon">
</head>
<body>
  <div class="container">
		<h2>👦🏽 Editar Clientes</h2>
		<form th:action="" th:object="" method="post">

      <div class="form-control hidden">
				<input th:field="" type="text" name="dnicli" placeholder="DNI" required />
			</div>

      <div class="form-control">
				<input th:field="" type="text" name="nomcli" placeholder="Nombre" required />
			</div>

      <div class="form-control">
				<input th:field="" type="tel" name="telcli" placeholder="Telefono" required />
			</div>
            
			<button class="btn" id="send">Enviar</button>
		</form>
	</div>
</body>
</html>