<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario Clientes</title>
    <link rel="stylesheet" href="../style.css">
		<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
</head>
<body>
  <div class="container form">
		<h2>👦🏽 Editar Clientes</h2>
		<form th:action="@{/saveClient}" th:object="${cliente}" method="post">

      		<div class="form-control hidden">
				<input type="text" th:field="*{dniUsu}" placeholder="DNI" minlength="8" maxlength="8" required />
			</div>

      		<div class="form-control">
				<input type="text" th:field="*{nomUsu}" placeholder="Nombre" required />
			</div>

      		<div class="form-control">
				<input type="tel" th:field="*{telUsu}" placeholder="Telefono" minlength="9" maxlength="9" required />
			</div>
			
			<div class="form-control">
				<select th:field="*{estUsu}" required>
				  <option value="activo">Activo</option>
				  <option value="inactivo">Inactivo</option>
				</select>
			</div>
            
			<button class="btn" type="submit" value="Save">Actualizar</button>
		</form>
	</div>
</body>
</html>