@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	background-color: #f2f7f5;
	font-family: "Muli", sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

/* LOGIN */
.container {
	background-color: #fff;
	border: 2px solid #00332c;
	padding: 20px 40px;
	border-radius: 8px;
	margin: auto;
	text-align: center;

	& h1 {
		text-align: center;
		margin-bottom: 30px;
		color: #00473e;
	}
	& a {
    text-decoration: none;
  }
	&.form {
		width: 400px;
		padding: 16px 24px;
	}
}

.img-login {
	width: 300px;
	margin-top: 16px;
	mask-image: linear-gradient(black 80%, transparent);
}

.form-control {
	margin: 16px 0 32px;
}

.form-control input {
	background-color: transparent;
	border: 0;
	border-bottom: 2px #00473e solid;
	display: block;
	width: 100%;
	padding: 16px 0;
	font-size: 16px;
	color: #000;

	&:focus, :valid{
		outline: 0;
		border-bottom-color: #faae2b;
	}

	&::placeholder {
    color: #00473e;
  }
}

.input {
	padding: 8px;
	width: 250px;
}

.btn {
	cursor: pointer;
	display: inline-block;
	width: 100%;
	background: #faae2b;
	color: #00473e;
	padding: 8px;
	font-family: inherit;
	font-size: 16px;
	border: 2px solid #00332c;
	border-radius: 8px;
	font-weight: 600;
	text-decoration: none;

	&:focus {
		outline: 0;
	}
	
	&:active {
		transform: scale(0.98);
	}

	&.btnAgregar {
		border: none;
		background: transparent;
		color: #fff;
		margin: auto 4px;
	};

	&.btnEditar {
		background: #EEE88E;
		border: none;
		padding: 8px;
		width: 2rem;
		margin: auto 4px;
	};
	
	&.btnEliminar {
		border: none;
		background: #DA3848;
		color: #fff;
		padding: 8px;
		margin: auto 4px;
	};
	&.btnSearch {
		border: none;
		background: rgb(0, 128, 128);
		color: #fff;
		font-weight: 400;
	}
}

.small {
	font-size: 12px;
	margin: 8px 0;
	color: #333333;
}

.w-full {
	width: 100%;
}

.w-auto {
	width: auto;
}


.footer {
	margin-top: 30px;
}


textarea {
	width: 100%;
	padding: 16px 8px;
	resize: none;
	border-radius: 5px;
	field-sizing: content;
}

.footer {
	text-align: center;
	color: #5f6c7b;
}

/* HOME */

.section {
	display: flex;
	justify-content: space-around;
	padding: 16px;
	align-items: center;
	text-align: center;
}

.header {
	background-color: #00473e;
	width: 100vw;
	text-align: center;
	justify-content: flex-start;
}

.header__title {
	font-family: "Pacifico", cursive;
	font-weight: 400;
	color: #fff;
	margin: 0;
}

.header__nav {
	background-color: #f2f7f5;
	padding: 16px 0;
}

.nav__ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
	margin: 0;
	padding: 4px;
}

li {
	list-style: none;
}

.nav__ul a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
	background-color: #00332c;
	border-radius: 8px;
	border: 2px solid #000;
	padding: 4px 16px;
}

.nav__ul a.active {
	color: #faae2b;
	font-weight: 600;
}

.nav__ul a:hover {
	color: #faae2b;
}

/* HOME - TABLE */

table.tbl {
  margin: 16px auto;
  width: 80vw;
  background-color: #FFFFFF;
  border-collapse: separate;
  color: #000000;
	border: 1px solid #475E47;;
	font-size: 16px;
}

table.tbl, table.tbl th {
  border-color: #fff;
  padding: 4px;
}

table.tbl td {
	text-align: center;
	color: #000000;
	padding: 8px;
}

table.tbl thead {
  background-color: #5F80D9;

	&.act {
	  background-color: rgb(0, 128, 128);
		color: #fff;
	}

	&.pro {
	  background-color: #EEE88E;
		color: #000;
	}
	
	&.ina {
		background: #5f6c7b;
		color: #fff;
	}
}

/* SELECT */

select {
	cursor: pointer;
	outline:0;
	color: #000;
	font-size: 16px;
	padding: 16px 4px;
	width: 100%;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
	background-color: #ffffff;
}

.hidden {
	display: none;
}

p.title-h3 {
	font-size: 18px;
	font-weight: 600;
	margin: 8px 0;
	padding: 8px;
	color: #00332c;
}

a {
	text-decoration: none;
}

