<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Citas - OS</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/c851fe2c54.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <section class="section">
      <h1 class="header__title">Odonto-Salud</h1>
      <a th:href="@{/newcitas}">
        <button class="btn w-auto btnAgregar" name="add">
          <i class="fa-solid fa-circle-plus fa-2xl"></i>
        </button>
      </a>     
    </section>
    
    <nav class="header__nav">
      <ul class="nav__ul">
        <li>
          <a href="#" class="active">Citas</a>
        </li>
        <li>
          <a th:href="@{/doctores}">Doctores</a>
        </li>
        <li>
          <a th:href="@{/clientes}">Clientes</a>
        </li>
        <li>
          <a th:href="@{/recepcionistas}">Recepcionistas</a>
        </li>
      </ul>
    </nav>
  </header>
  <hr />
  <main>
    <p class="title-h3">🕓 - Citas Activas</p>
    <table class="tbl">
      <thead class="act">
        <tr>
          <th>Fecha cita</th>
          <th>Descripcion</th>
          <th>Doctor</th>
          <th>Cliente</th>
          <th>Recepcionista</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cita:${citasActivas}">
          <td th:text="${cita.dateCit}">HOLAA</td>
          <td th:text="${cita.razCit}"></td>
          <td th:text="${cita.docId.nomDoc}"></td>
          <td th:text="${cita.dniUsu.nomUsu}"></td>
          <td th:text="${cita.recId.nomRec}"></td>
          <td>
            <a th:href="@{/editQuotes/}+${cita.idCit}">
              <button class="btn w-auto btnEditar"><i class="fa-solid fa-pen-to-square"></i></button>
            </a>
            <a>
              <button class="btn w-auto btnEliminar" id="delete"><i class="fa-solid fa-trash" style="color: #fff;"></i></button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    
    <p class="title-h3">📆 - Citas Programadas</p>
    <table class="tbl pro">
      <thead class="pro">
        <tr>
          <th>Fecha cita</th>
          <th>Descripcion</th>
          <th>Doctor</th>
          <th>Cliente</th>
          <th>Recepcionista</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="cita:${citasProgramadas}">
          <td th:text="${cita.dateCit}"></td>
          <td th:text="${cita.razCit}"></td>
          <td th:text="${cita.docId.nomDoc}"></td>
          <td th:text="${cita.dniUsu.nomUsu}"></td>
          <td th:text="${cita.recId.nomRec}"></td>
          <td>
            <a th:href="@{/editQuotes/}+${cita.idCit}">
              <button class="btn w-auto btnEditar"><i class="fa-solid fa-pen-to-square"></i></button>
            </a>
            <a>
              <button class="btn w-auto btnEliminar" id="delete"><i class="fa-solid fa-trash" style="color: #fff;"></i></button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>

  </main>

  <a href="/logout" class="btn w-auto">Cerrar sesión</a>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>

</html>