<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recepcionistas - OS</title>
  <link rel="stylesheet" href="../style.css">
  <link rel="shortcut icon" href="../img/icon.png" type="image/x-icon">
  <script src="https://kit.fontawesome.com/c851fe2c54.js" crossorigin="anonymous"></script>
</head>

<body>
  <header class="header">
    <section class="section">
      <h1 class="header__title">Odonto-Salud</h1>
      <a th:href="@{/newrecep}">
        <button class="btn w-auto btnAgregar" name="add">
          <i class="fa-solid fa-circle-plus fa-2xl"></i>
        </button>
      </a>     
    </section>
    
    <nav class="header__nav">
      <ul class="nav__ul">
        <li>
          <a th:href="@{/home}">Citas</a>
        </li>
        <li>
          <a th:href="@{/doctores}">Doctores</a>
        </li>
        <li>
          <a th:href="@{/clientes}">Clientes</a>
        </li>
        <li>
          <a href="#" class="active">Recepcionistas</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <p class="title-h3">👩🏻‍💼 - Recepcionistas Activas</p>
    <table class="tbl">
      <thead class="act">
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Sueldo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="recepcionista:${recepcionistas}">
          <td th:text="${recepcionista.nomRec}"></td>
          <td th:text="${recepcionista.telRec}"></td>
          <td th:text="${recepcionista.sueRec}"></td>
          <td>
            <a th:href="@{/editRecep/}+${recepcionista.idRec}">
              <button class="btn w-auto btnEditar"><i class="fa-solid fa-pen-to-square"></i></button>
            </a>
            <a>
              <button class="btn w-auto btnEliminar" id="delete"><i class="fa-solid fa-trash" style="color: #fff;"></i></button>
            </a>
          </td>
        </tr>
      </tbody>

    </table>
    
    <p class="title-h3">🔓 - Otros Recepcionistas</p>
    <table class="tbl">
      <thead class="ina">
        <tr>
          <th>Nombre</th>
          <th>Telefono</th>
          <th>Sueldo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="recepcionista:${recepIna}">
          <td th:text="${recepcionista.nomRec}"></td>
          <td th:text="${recepcionista.telRec}"></td>
          <td th:text="${recepcionista.sueRec}"></td>
          <td>
            <a th:href="@{/editRecep/}+${recepcionista.idRec}">
              <button class="btn w-auto btnEditar"><i class="fa-solid fa-pen-to-square"></i></button>
            </a>
            <a>
              <button class="btn w-auto btnEliminar" id="delete"><i class="fa-solid fa-trash" style="color: #fff;"></i></button>
            </a>
          </td>
        </tr>
      </tbody>

    </table>

  </main>

  <a href="/logout" class="btn w-auto">Cerrar sesión</a>

  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="../index.js"></script>
</body>

</html>