<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Login</title>
	<link rel="stylesheet" href="./style.css">
	<link rel="shortcut icon" href="../img/icon.png" type="image/x-icon" />
</head>

<body>
	<div class="container">
		<img src="img/doctors.webp" class="img-login" />

		<form action="/login" method="post">
			<div class="form-control">
				<input type="text" name="username" id="username" placeholder="User" autocomplete="off" required />
			</div>

			<div class="form-control">
				<input type="password" name="password" id="password" placeholder="Password" required />
			</div>

			<button type="submit" id="send" class="btn">Login</button>
		</form>
	</div>
	
</body>
</html>